* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

:root {
  --grayHeader: #141414;
  --gray: #131212;
  --black: #000;
  --white: #ffffff;
  --font2: #b3b3b3;
  --container: #242424;
  --scroll: #020101;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 2fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin: 8px;
  color: var(--white);
  background-color: var(--black);
  overflow: hidden;

}

#home {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray);
  gap: 1.2rem;
  border-radius: 10px;
}

.text-home,
h1 {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  margin-left: 1rem;
  color: var(--font2);
}

.font-gray:hover{
  color: white;
  cursor: pointer;
}

.text-home:hover{
  color: white;
  cursor: pointer;
}

#subscribe:hover{
  font-weight: 700;
}

h1 {
  gap: 0;
}

.font-gray {
  color: var(--font2);
}

#library {
  grid-column: 1/2;
  grid-row: 2/5;
  background-color: var(--gray);
  border-radius: 10px;
  
}

.library-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 15px 7px 15px;
  padding: 10px;
}

#library-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 50%;
  width: 25px;
  border: none;
  background-color: transparent;
  
}

#library-add:hover{
    background-color: #1A1A1A;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 250px;
    overflow-y:scroll;
    margin-left: 10px;
}

#container::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

.card1{
    margin-top: 106px;
    background-color: var(--container);
    height: 140px;
    width: 17.5em;
    border-radius: 10px;
    padding: 1rem;
}

.card2{
  background-color: var(--container);
  height: 175px;
  width: 17.5em;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 5px;
}

h3{
    padding-bottom: .5em;
}

.buttonContainer{
    width: 125px;
    height: 36px;
    border-radius: 22px;
    margin-top: 1.5rem;
    border: 1px solid black;
    color: #000;
    font-weight: 550;
    transition: .5s;
}

.buttonContainer:hover{
  height: 41px;
  width: 130px;

}

main {
  grid-column: 2/6;
  grid-row: 1/5;
  border: 1px solid black;
  border-radius: 10px;
}

footer{
  z-index: 1;
  height: 100;
  margin-top: -221px;
  background-color: var(--gray);
}

footer > p{
  margin: 2.5rem 0 3rem 1.5rem;
  font-size: .7rem;
  color: var(--font2);
}

footer > button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 22px;
  margin: 0 0 3rem 1.5rem;
  border: 1px solid var(--font2);
  color: white;
  background-color: transparent;
  font-weight: 550;
  font-size: .9rem;
}

/*Main*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 65px;
  background-color: var(--grayHeader);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.moves, .enter{
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  border: none;
  color: var(--font2);
}


.login{
  height: 50px;
  width: 110px;
  border-radius: 100px;
  color: black;
  font-weight: 600;
  margin-left: 30px;
  border: none;
}

.login:hover{
  height: 53px;
  width: 113px;
}

.login a{
  color: black;
}


a{
  text-decoration: none;
  color: white;
}

main{
  background: linear-gradient(to bottom,  #292828 ,var(--grayHeader));
}
#subHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px 0 0;
}

.cardContainer{
  margin-left: 20px;
 display: flex;
flex-wrap: wrap;
}

#playlist{
  margin:10px 0 0 20px;
  font-weight: 550;
  font-size: 1.5em;
}

.card{
  margin-top: 20px;
  height: 290px;
  width: 173px;
  border-radius: 10px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card:hover{
  background-color: var(--container);
}

.image-card{
  margin: 10px 10px 20px 10px;
  height: 150px;

  width:153px;
  background-color: var(--white);
  border-radius: 10px;
  color: black;
}

.lorem{
  margin: 0 10px 0 10px;
}

