* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: w;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#2a2a2a, #000000);
}

a {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #121212;
}
.header .logo {
  color: white;
  margin: 30px 50px;
  display: flex;
  font-weight: 600;
  align-items: center;
}
.header .logo .img-logo {
  margin-right: 2px;
  width: 40px;
  height: 40px;
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 30px 0 30px 0;
  background-image: linear-gradient(#000000, #121212);
  border-radius: 8px;
}
.log-in .login-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.log-in .login-links .title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #F9F9F9;
  margin-top: 70px;
}
.log-in .login-links .login-with {
  padding: 12px 0;
  width: 294px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0.5px solid rgb(141, 141, 141);
}
.log-in .login-links .login-with:hover {
  border-color: white;
}
.log-in .login-links .login-with img {
  width: 22px;
  height: 22px;
  margin-left: 30px;
}
.log-in .login-links .login-with a {
  margin: auto auto;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.log-in .login-links hr {
  border: none;
}
.log-in .login-links hr::after {
  background-color: rgb(32, 32, 32);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 500px;
  margin: 35px 0 15px 0;
}
.log-in .login-links .inputs {
  display: flex;
  flex-direction: column;
}
.log-in .login-links .inputs label {
  font-size: 0.8rem;
  font-weight: 700;
  color: #F9F9F9;
  margin: 20px 0 10px 0;
}
.log-in .login-links .inputs .input-enter {
  width: 294px;
  height: 45px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 3px;
  border-color: rgb(141, 141, 141);
  color: #F9F9F9;
  padding-left: 15px;
  font-size: 1.1rem;
}
.log-in .login-links .inputs .input-enter:hover {
  transition: 0.2s;
  outline: 1px solid #F9F9F9;
}
.log-in .login-links .inputs .input-enter:focus {
  outline: 2px solid #F9F9F9;
}
.log-in .login-links .inputs .input-enter::-moz-placeholder {
  font-size: 1.1rem;
  margin: 0 auto;
  font-weight: 500;
}
.log-in .login-links .inputs .input-enter::placeholder {
  font-size: 1.1rem;
  margin: 0 auto;
  font-weight: 500;
}
.log-in .login-links .inputs .label-remember {
  position: relative;
  width: 35px;
  height: 16px;
  background-color: grey;
  border-radius: 20px;
  border: 1px solid white;
  border: none;
}
.log-in .login-links .inputs .label-remember p {
  position: absolute;
  left: 50px;
  top: 0px;
  width: 100px;
}
.log-in .login-links .inputs .label-remember span {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
.log-in .login-links .inputs .label-remember input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.log-in .login-links .inputs .label-remember input:checked ~ span {
  left: 20px;
}
.log-in .login-links .enter {
  width: 294px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background-color: rgb(30, 215, 96);
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.log-in .login-links .enter:hover {
  width: 300px;
  font-size: 1.1rem;
}
.log-in .login-links .password {
  margin-top: 30px;
  color: #F9F9F9;
}
.log-in .login-links .password:hover {
  color: rgb(30, 215, 96);
}
.log-in .login-links .new-account {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(141, 141, 141);
  margin: 30px 0px 50px 0;
}
.log-in .login-links .new-account a {
  color: #F9F9F9;
}
.log-in .login-links .new-account a:hover {
  color: rgb(30, 215, 96);
}

.footer-section {
  width: 100%;
  height: 80px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(141, 141, 141);
  font-size: 0.7rem;
}
.footer-section a {
  color: rgb(141, 141, 141);
}/*# sourceMappingURL=style-page2.css.map */